@import "../node_modules/mini.css/dist/mini-default.min.css";

body,
html,
.container,
.center-page {
  height: 100vh;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
